<div class="totall">
    <div class="box">
        <img class="logo" src="https://armcade.com/pubimage/Portals/0/articleimages/w/630/url/digilogo-6.jpg">
        <p class="firstline">ورود | ثبت نام</p>
        <p class="linetwothree">سلام!</p>
        <p class="linetwothree">لطفا شماره موبایل یا ایمیل خود را وارد کنید</p>
        <div class="inputphone">
            <input class="form-control w-75 " [(ngModel)]="phoneNumber">
            <button type="button" class=" submit btn  w-75 mt-4"  (click)="onSubmit()">ورود</button>

        </div>
       <p class="warning">ورود شما به معنای پذیرش 
        <a class="link-offset-2 link-underline link-underline-opacity-0" href="#">شرایط</a> 
        و <a class="link-offset-2 link-underline link-underline-opacity-0" href="#">قوانین حریم خصوصی</a> است</p>
        
        
    </div>
    
</div>
