<div class="totallfirst">
    <svg (click)="onBasket()"  xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="currentColor" class="basket" viewBox="0 0 16 16">
      <path
        d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9zM1 7v1h14V7zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5" />
    </svg>
    <p class="line">|</p>
    <p class="submit" (click)="Enter()">ورود|ثبت نام <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20"
        fill="currentColor" class="enter" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0z" />
        <path fill-rule="evenodd"
          d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
      </svg></p>
  
    <input class="form form-control" placeholder="جستجو">
    <img src="https://www.digikala.com/brand/full-horizontal.svg" class="lego">
  
  </div>



<div class="totall">
    <div class="picture">
        <img [src]="product.imgSrc" [title]="product.title" class="imgBox">
    </div>
    <div class="titles">
        <p>{{product.title}}</p>
        <hr>

        <div class="detailRaket">
          <div class="detail" *ngFor="let item of details">{{item}}
           
          </div>
        </div>

        <div class="detailRaket">
          <p class="detailres">{{product.jg}}</p>
          <p class="detailres">{{product.ag}}</p>
          <p class="detailres">{{product.as}}</p>
        </div>
    </div>

    <div class="shoppingBox">
      <p class="first">فروشنده</p>
      <p class="shop">گالری یاس بانو</p>
      <hr>
        <p class="second">{{product.price}}</p>
        <button class="third btn btn-danger" (click)="addTobasket()">افزودن به سبد خرید</button>
        <p class="fourth">گارانتی اصالت و سلامت فیزیکی کالا</p>
        <hr>
        <p class="fivth">ارسال دیجی کالا از 1 روز کاری دیگر</p>
        <p class="sixth">ارسال فروشنده</p>
        <hr>
        <p class="seventh">150 امتیاز دیجی کلاب</p>
 
</div>
